* { 
	margin: 0; padding: 0; 
	box-sizing:border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
} 

html, body { 
	height: 100%; 
	overflow: hidden;
}

.right {
	float: right;
}

/* ===== Google Maps && Street View Panoramas ===== */
#map-canvas { 
	height: 100%; 
}

#pano {
	height: 200px;
	width: 250px;
}

/* ===== Search Venues ===== */
.search-container {
	position: absolute;
	background-color: rgb(74, 90, 141);
	z-index: 2;
	left: 0; 
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.search-text {
	position: relative;
	top: 2px;
	font-size: 18px;
	padding: 7px 12px;
	background-color: #464a4c; 
	color: #fff; 
	height: 38px;
}

.search-input { 
	background-color: #3e3f3f98;
	color: white;
	float: right;
	box-shadow: 0 2px 6px rgba(61, 59, 59, 0.3); 
	opacity: .8;
	font-size: 1em;
	padding: 5px;
	margin-right: 2%;
	width: 20%;
	height: 38px;
}

#submit-button {
	background-color: #00bbb3;
	float: right;
	padding: 5px 10px;
	margin-right: 10%
}

/* ===== Filter Keywords ===== */
#filter-search {
	background-color: #3e3f3f98;
	
	color: white;
	margin: 15px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
	font-size: .7em;
	padding: 5px 10px;
	width: 80%;
}

::placeholder {
	color: white;
}

/* ===== Show Lists ===== */
.showList-btn-container {
	background-color: #09918a;
	opacity: .8;
	color: white;
	position: absolute;
	z-index: 1;
	left: 30px; 
	top: 90px;
	width: 25%;
	height: 80px;
	padding: 10px;

}

.list-group-item {
	background-color: #FFF;
}

.city-text { 
	display: inline;
	font-size: 1.25em;

}

#showList-button {
	position: absolute;
	right: 0;
	margin-right: 10px;
}

.showList-container {
	background-color: #09918a;
	opacity: .8;
	color: white;
	overflow: auto;
	position: absolute;
	z-index: 1;
	left: 30px; 
	top: 180px;
	height: 50%;
	width: 25%;
}

.content {
	width: 100%;
}

.left-text {
	float: left;
	width: 80%;
	font-size: 0.8em;
}

.venue-img {
	width: 20%;
	display: block;
	margin: 0 auto;
	padding-top: 10px;
}

.venue-rating {
	border: 1px solid #FFF;
	border-radius: 5px;
	background-color: #FF8C00;
	padding: 3px 8px;
}

/* ===== InfoWindow ===== */
.venue-infowindow {
	width: 250px;
}

.venueName {
	font-weight: bold;
	font-size: 17px;
}

.venueRating {
	border: 1px solid #FFF;
	border-radius: 5px;
	background-color: #FF8C00;
	padding: 3px 8px;
}

.venueAddress {
	width: 80%;
}

/* ===== Media ===== */
@media screen and (max-width: 1024px) {
	.search-text { font-size: 20px; }
	.search-input { width: 40%; font-size: 20px; }
	.showList-btn-container { width: 30%; font-size: 0.75em;}
	.showList-container { width: 30%; font-size:0.9em; }
	.city-text { font-size: 1.15em; };
	#filter-search { font-size: 1.15em;}
}

@media screen and (max-width: 768px) {
	.search-input { width: 50%; }
	.showList-btn-container { background-color: transparent; }
	.showList-btn-container h4 { display:none; }
	.showList-container { width: 40%; font-size: 0.75em; }
	#showList-button { position: absolute; left: 0; }
	#filter-search { font-size: 1em; }
}


@media screen and (max-width: 440px) {
	.search-container { text-align: center; margin: 0; position: absolute; z-index: 1; left: 0px; }
	.search-input { width: 70%; margin-bottom: 10px; }
	#submit-button { display: inline-block; text-align: center; }
	.showList-btn-container { top: 120px;}
	.showList-container { width: 65%; font-size: 0.75em; }
	.venue-infowindow { width: 210px; font-size: 0.75em; }
	.venueRating{ font-size: 0.6em; }
	#pano { width: 210px; height: 160px; }
	
}

@media screen and (max-width: 240px) {
	.search-text { display: none;}
	.search-input { width: 70%; margin-bottom: 10px; }
	#submit-button { display: inline-block; text-align: center; }
	.showList-container { width: 80%; font-size: 0.75em; }
}



/* FSMAP1S */